body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0.03rem solid rgb(160, 95, 130);
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: larger;
}
button{
    background-color: rgb(160, 95, 130);
    color: aliceblue;
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: bold;
}
#delete-btn{
    background-color: aliceblue;
    color: rgb(160, 95, 130);
}
ul{
    list-style-type: none;
    padding-left: 0;
}
li{
   margin-bottom: 0.5rem;  
}
li a{
    color: palevioletred;
}